---
layout: page
description: "「To be, or not to be, that is the question」"
no-catalog: true
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.excerpt | strip_html | strip_newlines | truncate:220 }}
            {% else %}
                {{ post.excerpt | strip_html | strip_newlines | truncate:140 }}
            {% endif %}
        </div>
    </a>
    <p class="post-meta">
        {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} · {{ post.date | date: "%Y-%m-%d" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; 较新文章</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">更早文章 &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
