<!-- Search -->
<div class="search-page">
  <div class="search-icon-close-container">
    <a class="search-icon-close" href="#close-search" aria-label="关闭搜索">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
  <div class="search-main container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <form role="search" onsubmit="return false;">
          <label class="sr-only" for="search-input">搜索文章</label>
          <input type="search" id="search-input" placeholder="搜索文章..." autocomplete="off">
        </form>
        <div id="search-results" class="mini-post-list"></div>
      </div>
    </div>
  </div>
</div>
